.ant-menu {
  background: var(--layout-header-background);
  color: var(--text-color);

  .ant-menu-item {
    a {
      color: var(--text-color);
    }
  }
}

.ant-drawer-content,
.ant-drawer-header,
.ant-menu-submenu > .ant-menu,
.ant-menu-submenu-popup,
.ant-dropdown-menu,
.ant-dropdown-menu-item {
  background: var(--component-background);
  color: var(--text-color);
}
.ant-menu-horizontal {
  border-bottom: 0px;
}
.ant-menu-horizontal > .ant-menu-item > a,
.ant-drawer-title {
  color: var(--text-color);
}

.ant-menu-item-group-title {
  color: var(--disabled-color);
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background: var(--component-background-hover);
}
