$base-font: "Lato", sans-serif;

:root {
    --box-border-radius: 10px;
    --input-height: 42px;
    --fs-normal: 14px;
    --button-height: 60px;
}

@import "./themes/dark/dark.scss";
@import "./themes/light/light.scss";