@import "../themes/dark/dark.scss";
@import "../themes/light/light.scss";

.full-height-screen {
    min-height: 100vh;
}

.wide-container {
    width: 100%;
    margin: 0 auto;
}

.hidden-screen {
    display: none !important;
}

.container,
.header-public {
    max-width: 768px;
}

.container {
    margin: 0 auto;
}
.fadeIn {
    opacity: 1;
    width: 100px;
    height: 100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
.fadeOut {
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

@media (max-width: 992px) {
    .hidden-screen {
        display: block !important;
    }
}
