@import "../Login/login.scss";

.t1 {
    margin-left: 50px;
    margin-top: 25%;
    font-family: Muli;
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    color: #081f47;
  
}
.t2 {
    margin-left: 50px;
    margin-top: -40px;
    font-family: Muli;
    font-weight: 500;
    font-size:18px;
    line-height: 25px;
    color: #081f47;
}
.backContainer {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  >p {
    width: 47px;
  height: 25px;
  font-family: Muli;
  font-size: 20px;
  font-weight: 500;
  color: #666666;
  position: relative;
  bottom: 3.5px;
  }
  
}
.backIcon {
  width: 9px;
  height: 18px;
 color: #32363e;
}