:root.dark {
  --primary-color: #1890ff;
  --success-color: #52c41a;
  --info-color: #1890ff;
  --warning-color: #faad14;
  --error-color: #ff4d4f;
  --highlight-color: #ff4d4f;
  --body-background: #000000;
  --component-background: #141414;
  --component-background-hover: #4c4c4c;
  --component-background-blur: #1d1d1d;
  --layout-header-background: #141414;
  --layout-body-background: #000;
  --border-color-base: #434343;
  --border-color-split: #141414;
  --link-color: #1890ff;
  --disabled-color: #5b5b5b;
  --disabled-bg: #262626;
  --processing-color: #1890ff;
  --icon-color: #141414;
  --icon-color-hover: #c4c4c4;
  --heading-color: #dcdcdc;
  --text-color: #adadad;
  --text-color-second: #dcdcdc;
  --text-color-secondary: #7e7e7e;
  --text-selection-bg: #1890ff;
  --text-color-inverse: #ffffff;
  --text-color-table-header: #ffffff;
  --text-color-table-hover: #262626;
  --text-layout-header-color: var(--text-color);
  --text-layout-header-color-hover: #1890ff;
}
